.reviewCard{
  background-image: url("../../../assets/reviewCardBg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.reviewSection{
  background-image: url("../../../assets/reviewSecBg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rCardBg{
  background-image: url("../../../assets/rCardBg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}