.login-page{
  background-image: url(../../assets/loginBg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.welcomeCard{
  background-image: url(../../assets/loginCard.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}