.news-container {
    width: 90%; /* Set the width of the news container */
    height: 300px; /* Set the height of the news container */
    overflow: hidden;
    display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  }
  
  .news-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    overflow: auto; /* Enable scroll if content overflows */
  }
  
  .news-card h2 {
    font-size: 24px;
    margin-bottom: 12px;
  }
  
  .news-card ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .news-card li {
    border-bottom: 1px solid #eee;
    padding: 12px 0;
  }
  
  .news-card li h3 {
    font-size: 18px;
    margin: 0;
  }
  
  .news-card li p {
    margin: 8px 0;
  }
  