.sign-up-page{
  background-image: url(../../assets/signUpBg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.signUpCard{
  background-image: url(../../assets/signUpCard.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}