.weather-card{
  /* background-image: url("../../../assets/wall-wallpaper-concrete-colored-painted-textured-concept.jpg"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.weather-related-card{
  /* background-image: url("../../../assets/wall-wallpaper-concrete-colored-painted-textured-concept.jpg"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}