.bg-clear{
  background-image: url("../../../assets/loginBg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-cloud{
  background-image: url("../../../assets/black-rain-abstract-dark-power.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-rain{
  background-image: url("../../../assets/water-drops-glass.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-thunder{
  background-image: url("../../../assets/thunderrr.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-drizzle{
  background-image: url("../../../assets/water-drops-glass.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}